/* GENERAL */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

body{
    width: 80%;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
}

.mb-20{
    margin-bottom: 20px;
}

/* HEADER */

header> div{
    margin-bottom: 20px;
}

.logo img{
    width: 150px;
}

.logo{
    border-right: solid 1px lightgray;
    width: 160px;
}

.black-line{
    font-size: 50px;
    vertical-align: top;
}

ul li{
    list-style: none;
    display: inline-block;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: #868686;
    padding: 10px 5px
}

a:hover{
    color: darkmagenta;
    background-color: aquamarine;
    border-radius: 10px;
}

.jumbotron{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border-radius: 10px;
}

.overlay{
    height: 100%;
    background-color: rgba(131, 101, 161, 0.1);
    overflow: hidden;
    border-radius: 10px;
}


.jumbotron .overlay-text{
    padding-top: 30%;
    padding-left: 40px;
    padding-right: 40%;
}

.ovrly-title{
    font-size: 2rem;
}

/* MAIN */

main .mn-title{
    height: 60px;
    margin-bottom: 15px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.aside{
    width: 18%;
}

.section{
    width: 60%;
    margin: 0 2% ;
}

.col{
    float: left;
}

.box-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border-radius: 10px;
}

.left-img{
    background-image: url(./img/img-1.jpg);
    
}

.center-img{
    background-image: url(./img/banner-2.jpg);
    
}

.right-img{
    background-image: url(./img/img-3.jpg);
}

h5{
    padding-top: 20px;
    padding-bottom: 5px;
}

/* FOOTER */

footer{
    margin-top: 20px;
    text-align: center;
}
.heart{
    color: red;
}